doctype html
head
script(src='/public/js/angular.min.js')
script(src='/public/js/app.angular.js')
html(lang="en", ng-app="audioServerApp")
body
title= title
<div ng-controller="AudioController">
<audio id="audio" controls="controls">
	<source id="audioSource" ng-src="{{mainAudioSrc}}" type="audio/mpeg">
		Your browser does not support the audio format.
	</audio>
	
	<span class="element" ng-src="{{goBack}}" ng-click="setFolder(goBack)"><img class="go-back-arrow" src="public/img/go-back-arrow.png"></span>
	<ul id="list" style="list-style: none">
		<li ng-repeat="el in folders">
			<span ng-if="'dir' == el.type">
				<span class="element" ng-src="{{el.path}}" ng-click="setFolder(el.path)" data-type="{{el.type}}"> → {{el.name}}</span>
			</span>
			<span ng-if="'file' == el.type">
				<span class="element" ng-src="{{el.path}}" ng-click="setAudioSrc(el.path)" data-type="{{el.type}}"> ►  {{el.name}}</span>
			</span>	
		</li>
	</ul>
</div>

style(type='text/css').
	#list .element{
		cursor: pointer;
		color: #6a98ec;
	}
	.go-back-arrow{width:38px;}